body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

.output {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

p {
    margin-top: 20px;
    font-size: 20px;
    width: 500px;
    text-align: start;
    text-justify: auto;
}

.number {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
}

.number.fizz {
    background-color: #2196F3;
}

.number.buzz {
    background-color: #FFC107;
}

.number.fizzbuzz {
    background-color: #FF5722;
}